<div{{ attributes }} class="child-component">
    <h5>Nested Child</h5>
    <!-- component html -->
    <label for="animal-edit-child">Update Animal from Child : </label>

    <input name="animal-edit-child"
           data-model="debounce(5000)|animal"
    />
</div>
