<div{{ attributes }} style="background-color:green;margin-left:100px;">
    <h5>Nested Child</h5>
    <!-- component html -->
    <label for="animal-edit-child">Update Animal from Child : </label>

    <input name="animal-edit-child"
           data-model="debounce(10000)|animal"
    />
</div>
